
.cards {
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    overflow-anchor: none;

}
.pokemon {
  cursor: url("../assets/bunny2.png"), auto;
  // cursor:pointer;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding:5px;
  &:hover {
    background:rgba(126,126,126,0.15)
  }
  .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .name {
  }
}
.memorized {
    // border:4px solid tomato;
}